#DB
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379

#MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=some_password
MINIO_HOST=minio-cinema
MINIO_PORT=9000
MINIO_STORAGE=cinema-storage

#Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY
STRIPE_WEBHOOK_SECRET=
DOMAIN_NAME=http://localhost:8000