#DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_URL=redis://redis:6379/0

#MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_HOST=
MINIO_PORT=
MINIO_STORAGE=

#Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
DOMAIN_NAME=


SECRET_KEY_ACCESS=
SECRET_KEY_REFRESH=
JWT_SIGNING_ALGORITHM=

#Mailhog
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@cinema.com
EMAILS_FROM_NAME=OnlineCinema